/* style for responsive in category section */
.fav-tag {
  top: 5%;
  right: 5%;
}
@media (max-width: 576px) {
  .cardWidth {
    width: 80% !important;
    margin: 10px;
  }
  .textSizeInSmallScreen {
    font-size: 12px;
  }
}
.card-img-hover {
  transition: transform 0.3s ease-in-out;
}
.category-card:hover .card-img-hover {
  transform: scale(1.1);
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 3px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}
.category-image{
  transition: var(--transition);
}
.category-image:hover {
  transform: scale(1.15);
}
