/* style for responsive in category section */
.fav-tag{
  top: 5%;
  right: 5%;
}
@media (max-width: 576px) {
  .cardWidth {
    width: 80% !important;
    margin: 10px;
  }
  .textSizeInSmallScreen{
    font-size: 12px;
  }
}
