body {
    font-family: Arial, Helvetica, sans-serif;
}
.textColorMain{
    color: #3498db;
}
.primaryColor{
    color: #3498db;
}
.secondaryColor{
    color: #ff6b6b;
}
.backgroundColor{
    color: #f8f9fa;
}